body {
    background-color: grey;
}

div {
    background-color: silver;
    padding: 20px;
    margin: 20px;
}

h1 {
    -webkit-text-stroke-color: burlywood;
    -webkit-text-stroke-width: 1px;
    font-weight: 100;
}

footer {
    color: grey;
}